#layout {
    display: flex;
    flex: 1;

    #main-content {
        display: flex;
        flex-direction: column;
        flex: auto;
    }
}

@media (max-width: 1023px) {
    #layout {
        flex-direction: column;
    }
}