.card-detail {
    background-color: white;
    padding: 16px;
    border-radius: 4px;

    &.table {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 16px;
    }

    .amount {
        font-size: large;
        color: var(--primary-color);
    }

    .available {
        font-size: small;
    }
}